@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin:0;
    background:white;
}
.top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: rgb(42, 39, 70);
    height:60px;
}
.heading {
    color:white;
    position: absolute;
    left:20px;
    cursor: pointer;
}
.search-div {
    background: white;
    display: flex;
    height:28px;
    align-items: center;
    overflow: hidden;
    width:230px;
}
.search-svg {
    padding:10px;
    fill:rgba(43, 43, 43, 0.418);
}
.search {
    outline:0;
    border:0;
    width:100%;
}

.top > .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-items {
    margin:10px;
    color:white;
    cursor: pointer;
}
.nav-links {
    text-decoration: none;
    color:white;
}
.top-svg {
    margin-left:5px;
}
.search-svg, .top-svg {
    width:17px;
    height:17px;
}
