footer {
    position:relative;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    flex-direction: column;
    background:whitesmoke;
    color:black;
    justify-content: center;
    align-items: center;
    height:200px;
}
.foot {
    font-size: large;
    color: rgba(0, 0, 0, 0.753);
}
.icons {
    margin-top:40px;
    display: flex;
    flex-direction: row;
}
.individ {
    margin-left:20px;
    cursor: pointer;
}

.individ > svg {
    fill: rgba(7, 7, 7, 0.658);
}
