<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
    {% block title %}{% endblock %}
</head>
<body>
    <!-- The general navbar for all templates -->
    <nav class="top">
        <div class="heading">E-commerce site</div>
        <div class="search-div">
            <svg xmlns="http://www.w3.org/2000/svg" class='search-svg' fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
              <form action="">
                <input type="text" name="search" id="search" class="search" placeholder="Search" />
            </form>
        </div>
        <ul class="nav-list">
            <li class="nav-items"><a href="/" class="nav-links">Home</a></li>
            <li class="nav-items"><a href="new/" class="nav-links">Sign Up</a></li>
            <li class="nav-items"><a href="login/" class="nav-links">Login</a></li>
            <li class="nav-items"><a href="support/" class="nav-links">Support</a></li>
            {% block cart %}{% endblock %}
        </ul>
    </nav>
    {% block main%}{% endblock %}
    <footer>
        <div class="footers">
            <div class="individ-footer">
                
            </div>
        </div>
    </footer>
</body>
</html>