{% extends 'base.html' %}

{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'CSS/main.css'%}">{% endblock %}
{% block title %}Home{% endblock %}
{% block sign_up_and_login%}
    <li class="nav-items"><a href="{% url 'users:new'%}" class="nav-links">Sign Up</a></li>
    <li class="nav-items"><a href="{% url 'users:login'%}" class="nav-links">Login</a></li>
{% endblock %}

{% block main %}
    <main class="home-main">

        <div class="jumbo">
            <div class="content" id="content">
                <div class="content-head">Awesome Kicks</div>
                <div class="content-main">Shop the shoes you desire to have</div>
            </div>
        </div>
        <!-- div which shows the categories of products -->
        <div class="categories">

            <div class="individual-cat" id="individ-cat">
                <div class="main-cat">
                    <div class="desc-cat" >Clothing</div>
                    <img class="cat-img" src="../static/images/Clothing/Clothing-4.jpg" alt="">
                </div>
                <a href="#" class="cat-ref">Check Category</a>
            </div>
            <div class="individual-cat" id="individ-cat">
                <div class="main-cat">
                    <div class="desc-cat" >Food and Drinks</div>
                    <img class="cat-img" src="../static/images/Food and culture/Food-4.jpg" alt="">
                </div>
                <a href="#" class="cat-ref">Check Category</a>
            </div>
            <div class="individual-cat" id="individ-cat">
                <div class="main-cat">
                    <div class="desc-cat" >Fitness</div>
                    <img class="cat-img" src="../static/images/Fitness/Fitness-1.jpg" alt="">
                </div>
                <a href="#" class="cat-ref">Check Category</a>
            </div>
            <div class="individual-cat" id="individ-cat">
                <div class="main-cat">
                    <div class="desc-cat" >Gaming</div>
                    <img class="cat-img" src="../static/images/Gaming/Gaming-4.jpg" alt="">
                </div>
                <a href="#" class="cat-ref">Check Category</a>
            </div>
            <div class="individual-cat" id="individ-cat">
                <div class="main-cat">
                    <div class="desc-cat" >Phones and Gadgets</div>
                    <img class="cat-img" src="../static/images/Phones and Accessories/Tech-4.jpg" alt="">
                </div>
                <a href="#" class="cat-ref">Check Category</a>
            </div>
        <div class="product-demo">
            <div class="demos" id="demos"></div>
        </div>
    </main>
    {%include 'footer.html' %}
    <script src="{% static 'JavaScript/main.js'%}"></script>
{%endblock%}
